<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842028841222-0dl67feuuhcn09p6q96opktrt1jmkjeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842028841222-0dl67feuuhcn09p6q96opktrt1jmkjeh</string>
	<key>API_KEY</key>
	<string>AIzaSyAj7OBqXLNFCbFegiy6PnXPcWVefEma5lg</string>
	<key>GCM_SENDER_ID</key>
	<string>842028841222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.ASE.myNotes</string>
	<key>PROJECT_ID</key>
	<string>my-notes-dart-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-dart-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842028841222:ios:73cc9376f35e4e46a70687</string>
</dict>
</plist>